<%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/notFound.css" />
  </head>

  <body>
    <%- include('./partials/navigation.ejs') %>
    <h1>Page Not Found!</h1>
  </body>
<%- include('./partials/end.ejs') %>

